@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --os-font: system-ui, -apple-system, sans-serif;
  --os-wallpaper: none;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

/* --------------------------------------------------
   FONTS
-------------------------------------------------- */

/* Windows 98 */
@font-face {
  font-family: "Win98";
  src: url("/assets/win98/fonts/regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Win98";
  src: url("/assets/win98/fonts/bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

/* Windows XP */
@font-face {
  font-family: "WinXP";
  src: url("/assets/winxp/fonts/regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "WinXP";
  src: url("/assets/winxp/fonts/bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

/* Windows 7 */
@font-face {
  font-family: "Win7";
  src: url("/assets/fonts/regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Win7";
  src: url("/assets/fonts/bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

/* Windows 10 */
@font-face {
  font-family: "Win10";
  src: url("/assets/fonts/regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Win10";
  src: url("/assets/fonts/bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--os-font), system-ui, sans-serif;
}
